/** 
MAIN
**/

body {
	font-family: 'Arsenal', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: grey;
	text-align: left;
	background: #302e2b;
	padding: 20px 50px 150px;	
}

#back {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 70%;
	position: absolute;	
	margin: auto;
	background: rgb(251,251,251);
	box-shadow: 0px 0px 2px grey;	
	overflow-y: scroll;
	overflow-x: hidden;
}

#content {
	height: auto;
	margin-top: 90px;
	padding: 10px;
}

/** 
HEADER
**/

#head {	
	height: 70px;
	left: 15%;
	right: 15%;
	width: auto;
	position: fixed;
	display: flex;
	background: #202021;
	padding: 5px 70px 5px 70px;
	z-index: 99999;
}

#links {
	right: 10%;
	padding: 20px 0px 20px 0px;
	position: absolute;
}

.link {
	color: #f7f2f2;
	font-size: 15px;
	font-family: 'Thasadith', sans-serif;
	font-weight: bold;
	position: relative;
	display: inline-block;
	padding: 5px 20px 5px 20px;	
	transition: 0.2s ease-in-out;
}

.link:not(.active):hover {
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.active {
	color: #caafcf;
}

#mobile-icon-block {
	height: 100%;
	top: 0px;
	right: 0px;
	display: none;
	position: absolute;
	padding: 0px 30px 0px 30px;	
}

#mobile-icon-block:hover {
	background: #333;
}

.mobile-icon {
	width: 35px;
	height: 4px;
	top: 25%;
	position: relative;
	margin: 6px 0px;
	background: white;
	border-radius: 15px;
}

#mobile-links {
	width: 100%;
	top: 80px;
	right: 0px;
	display: none;
	margin-left: 10px;
	position: absolute;
	margin: auto;
	background: #333;
}

.mobile-link {
	width: 100%;
	font-family: 'Thasadith', sans-serif;
	font-size: 20px;
	color: white;
	display: block;
	padding: 15px 20px 15px 20px;
}

.mobile-link:hover {
	font-weight: bold;
	color: black;
	background: #ddd;
}

.mobile-link-active {
	font-weight: bold;
	color: black;
	background: #ddd;
}

/**
PAGE SPECIFIC
**/

#about {
	width: 50%;
	float: left;
	font-size: 16px;
	text-align: justify;
	position: relative;
	margin-left: 6%;
	margin-top: 3%;
}

#me {
	width: 30%;
	float: right;
	position: relative;
	margin-right: 8%;
	margin-top: 2%;
}

#contact {
	display: flex;
}

.contact-entry {
	text-align: center;
	line-height: 50px;
}

#skills {
	text-align: center;
	word-spacing: 20px;
}

#project {
	width: 80%;
	margin-left: 10%;
}

/**
GENERAL
**/

.section {
	position: relative;
	text-align: center;
}

.header {
	width: 100%;
	text-align: center;
}

.hline {
	width: 90%;
	margin: auto;
	background: grey;
	border: 0.5px solid rgba(200,200,200);
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/**
IMAGES
**/

img {
	position: relative;
}

.contact-img {
	width:8%;
	vertical-align: middle;
}

.skill-img {
	width: 5%;
	height: 5%;
}

.project-img {
	width: 50%; 
	box-shadow: 0px 0px 5px grey;
	text-align: center;
}

/**
COLUMNS
**/

.column-1-project { /* for use on individual project pages */
	width: 45%;
	float: left;
	text-align: justify;
	padding: 20px 20px 0px 27%;
}

.column-2 {
	width: 45%;
	float: left;
}

.column-2-project { 
	width: 45%;
	float: left;
	text-align: justify;
	margin-left: 1%;
	padding: 20px 10px 0px 10px;
}

.column-3 { 
	width: 33%;
	float: left;
}

.column-borders {
	border-left:0.5px solid rgb(200,200,200); 
	border-right:0.5px solid rgb(200,200,200);
}

/**
HEADERS
**/

h1 {
	position: relative;
	display: inline-block;
	letter-spacing: 2px;
}

h2 {
	font-family: 'Thasadith', sans-serif;
	color: #626970;
}


/**
HYPERLINKS
**/

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}


/**
SCROLLBAR
**/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dfdbe0; 
}
 
::-webkit-scrollbar-thumb {
  background: #727272; 
}

::-webkit-scrollbar-thumb:hover {
  background: #5b5a5a; 
}

/**
MEDIA QUERIES 
**/

@media screen and (max-width: 1000px) { /** SMALLER MONITORS **/
	#back {
		width: 100%;
	}
	#head {
		left: 0%;
		right: 0%;
	}
	
	#me {
		margin-top: 3%;
	}
}

@media screen and (max-width: 700px) { /** TABLETS ETC. **/
	#head {
		padding: 5px 30px 5px 30px;
	}
	#links {
		display: none;
	}
	#mobile-icon-block {
		display: block;
	}
	
	#me {
		margin-top: 10%;
	}
	
	/**SKILLS**/
	#skills {
		margin-right: 4%;
	}
	.skill-img {
		width: 7%;
		height: 7%;
	}
	.column-3 { 
		width: 100%;
	}
	.column-borders {
		border-left: none;
		border-right: none;
	}
	
	/**PROJECTS**/
	.column-2 {
		width: 80%;
		margin-left: 10%;
		text-align: center;
	}
	#project {
		width: 100%;
		margin-left: 0px;
	}
	.column-2-project {
		width: 80%;
		margin-left: 7%;
		padding: 10px 20px 0px 20px;
	}
}

@media screen and (max-width: 550px) { /** PHONES **/
	#content {
		margin-top: 70px;
	}
	
	#head {
		padding: 4px 15px 4px 15px;
	}
	#mobile-icon-block {
		padding: 0px 15px 0px 15px;
	}
	#mobile-links {
		top: 78px;
	}
	
	h1 {
		font-size: 25px;
	}
	
	.mobile-hide {
		display: none;
	}
	
	::-webkit-scrollbar {
	display: none;
	}
	
	/** INDEX **/
	#about {
		width: 88%;
	}
	#me {
		width: 40%;
		float: left;
		margin-left: 30%;
		margin-right: none;	
		margin-top: 3%;
	}
	#contact {
		display: block;
	}
	.contact-entry {
		text-align: left;
		margin-left: 30%;	
	}
	
	/** PROJECTS **/
	.column-1-project { 
		width: 80%;
		padding: 20px 20px 0px 10%;
	}
	.column-2-project {
		width: 90%;
		margin-left: 0%;
	}
	
}

@media screen and (min-width: 701px) {
	#mobile-links-container {
		display: none;
	}	
}