/** 
MAIN
**/

body {
	font-family: 'Arsenal', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 20px 50px 150px;
	font-size: 14px;
	text-align: left;
	background: #302E2B;
	color: grey;	
}

#back {
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;	
	padding: none;
	background: rgba(251,251,251);
	width: 70%;
	box-shadow: 0px 0px 2px grey;	
	overflow-y: scroll;
	overflow-x: hidden;
}

#content {
	margin-top: 7%;
	padding: 10px;
	height: auto;
}

/** 
HEADER
**/

#head {
	position: fixed;
	left: 15%;
	right: 15%;
	width: auto;
	top: 0px;
	background: #202021;
	padding: 15px 50px 15px 50px;
	display: flex;
	z-index: 99999;
	color: white;
}

#links {
	right: 10%;
	position: absolute;
}

ul a {
	color: #f7f2f2;
}

ul {
	text-align: left;
	padding: 8px;
	list-style: none;
	display: inline-block;
	position: relative;
	padding: 15px 20px;
	text-align: right;
	transition: all 0.3s cubic-bezier(.05,-0.48,.86,1.28);  
}

ul li a:hover {
	opacity: 0.5;
	text-shadow: 0 0 3px white;
}

/**
PAGE SPECIFIC
**/

#about {
	width: 50%;
	float: left;
	font-size: 16px;
	text-align: justify;
	position: relative;
	margin-left: 6%;
	margin-top: 3%;
}

#me {
	width: 30%;
	float: right;
	position: relative;
	margin-right: 8%;
}

#contact {
	display: flex;
}

.contact-entry {
	text-align: center;
	width: 33%;
	height: 50px;
	line-height: 50px;
}

#skills {
	text-align: center;
	word-spacing: 50px;
}

#project {
	width: 80%;
	margin-left: 10%;
}

/**
GENERAL
**/

.section {
	position: relative;
	text-align: center;
}

.header {
	width: 100%;
	text-align: center;
}

.hline {
	width: 90%;
	margin: auto;
	background: grey;
	border: 0.5px solid rgba(200,200,200);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/**
IMAGES
**/

img {
	position: relative;
}

.project-image {
	width: 50%; 
	box-shadow: 0px 0px 5px grey;
	text-align: center;
}

/**
COLUMNS
**/

.column-1-project { /* for use on individual project pages */
	float: left;
	width: 45%;
	text-align: justify;
	padding: 20px 20px 0px 27%;
}

.column-2 {
	float: left;
	width: 45%;
}

.column-2-project { 
	float: left;
	width: 45%;
	text-align: justify;
	padding: 20px 20px 0px 20px;
}

.column-3 { 
	float: left;
	width: 33%;
}

/**
HEADERS
**/

h1 {
	position: relative;
	display: inline-block;
	margin-left: 3%;
	letter-spacing: 2px;
}

h2 {
	font-family:'Thasadith', sans-serif;
	color:#626970;
}


/**
HYPERLINKS
**/

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}


/**
SCROLLBAR
**/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dfdbe0; 
}
 
::-webkit-scrollbar-thumb {
  background: #727272; 
}

::-webkit-scrollbar-thumb:hover {
  background: #5b5a5a; 
}

