/** 
MAIN
**/

body {
	font-family: 'Arsenal', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 20px 50px 150px;
	font-size: 14px;
	text-align: left;
	background: #302E2B;
	color: grey;	
}

#back {
	margin: auto;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;	
	padding: none;
	width: 70%;
	background: rgb(251,251,251);
	box-shadow: 0px 0px 2px grey;	
	overflow-y: scroll;
	overflow-x: hidden;
}

#content {
	margin-top: 7%;
	padding: 10px;
	height: auto;
}

/** 
HEADER
**/

#head {
	position: fixed;
	height: 70px;
	left: 15%;
	right: 15%;
	width: auto;
	top: 0px;
	background: #202021;
	padding: 5px 50px 5px 50px;
	display: flex;
	z-index: 99999;
	color: white;
}

#links {
	right: 10%;
	padding: 20px 0px 20px 0px;
	position: absolute;
}

.link {
	color: #f7f2f2;
	position: relative;
	padding: 5px 20px 5px 20px;
	display: inline-block;	
	transition: 0.2s ease-in-out;
}

.link:not(.active):hover {
	text-shadow: 0 0 3px black;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.active {
	font-weight: bold;
	font-style: italic;
	color: #9772a5;
}

#hamiconcontainer {
	display: none;
	height: 100%;
	padding: 0px 30px 0px 30px;
	top: 0;
	right: 0;
	position: absolute;
}

#hamiconcontainer2 {
	position: relative;
	top: 25%;
}

.hamicon {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  border-radius: 15px;
}

#hamlinks {
	background: green;
	position: absolute;
	display: none;
	top: 80px;
	left: 0;
	width: 100%;
	margin: auto;
}

#hamlinks a:hover {
	background:blue;
}

#hamlinks a {
	display: block;
}

/**
PAGE SPECIFIC
**/

#about {
	width: 50%;
	float: left;
	font-size: 16px;
	text-align: justify;
	position: relative;
	margin-left: 6%;
	margin-top: 3%;
}

#me {
	width: 30%;
	float: right;
	position: relative;
	margin-right: 8%;
}

#contact {
	display: flex;
}

.contact-entry {
	text-align: center;
	width: 33%;
	height: 50px;
	line-height: 50px;
}

#skills {
	text-align: center;
	word-spacing: 50px;
}

#project {
	width: 80%;
	margin-left: 10%;
}

/**
GENERAL
**/

.section {
	position: relative;
	text-align: center;
}

.header {
	width: 100%;
	text-align: center;
}

.hline {
	width: 90%;
	margin: auto;
	background: grey;
	border: 0.5px solid rgba(200,200,200);
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/**
IMAGES
**/

img {
	position: relative;
}

.project-image {
	width: 50%; 
	box-shadow: 0px 0px 5px grey;
	text-align: center;
}

/**
COLUMNS
**/

.column-1-project { /* for use on individual project pages */
	float: left;
	width: 45%;
	text-align: justify;
	padding: 20px 20px 0px 27%;
}

.column-2 {
	float: left;
	width: 45%;
}

.column-2-project { 
	float: left;
	width: 45%;
	text-align: justify;
	padding: 20px 20px 0px 20px;
}

.column-3 { 
	float: left;
	width: 33%;
}

/**
HEADERS
**/

h1 {
	position: relative;
	display: inline-block;
	margin-left: 3%;
	letter-spacing: 2px;
}

h2 {
	font-family:'Thasadith', sans-serif;
	color:#626970;
}


/**
HYPERLINKS
**/

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}


/**
SCROLLBAR
**/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dfdbe0; 
}
 
::-webkit-scrollbar-thumb {
  background: #727272; 
}

::-webkit-scrollbar-thumb:hover {
  background: #5b5a5a; 
}

/**
MEDIA QUERIES 
**/

@media screen and (max-width: 1000px) {
	#back {
		width: 100%;
	}
	#head {
		left: 0%;
		right: 0%;
	}
}

@media screen and (max-width: 700px) {
	#head {
		padding: 5px 10px 5px 10px;
	}
	#links {
		display: none;
	}
	#hamiconcontainer {
		display: block;
	}
}

@media screen and (min-width: 701px) {
	#hamlinkscontainer {
		display: none;
	}	
}